name: Validate
on:
  push:
    branches: ["main", "renovate/*"]
  pull_request:
permissions:
  contents: read
  checks: write
  packages: write
jobs:
  test:
    name: Pre-Commit and Test
    runs-on: ubuntu-latest
    steps:
    - name: Check out
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
    - uses: andrewaylett/pre-commit-action@b7caacb6a89ca231ef235b4e091e1f3815ed32ac # v4
