name: Validate
on:
  push:
    branches: ["main", "renovate/*"]
  pull_request:
permissions:
  contents: read
  checks: write
  packages: write
jobs:
  test:
    name: Pre-Commit and Test
    runs-on: ubuntu-latest
    steps:
    - name: Check out
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
    - uses: andrewaylett/pre-commit-action@8235dc99576d9760588beeac5b12b8a276d371a5 # v4
